[build]
command = "npm config set registry https://registry.npmjs.org/ && npm run build"
publish = "dist"

[build.environment]
NODE_VERSION = "20"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
